<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Beautiful Input</title>

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>Animated Beautiful Input</h1>

    <div class="form">
        <input class="form-input" type="text" name="firstName" autocomplete="off" required>
        <label for="firstName" class="form-label">
            <span class="form-content">First Name</span>
        </label>
    </div>

    <div class="form">
        <input class="form-input" type="text" name="secondName" autocomplete="off" required>
        <label for="secondName" class="form-label">
            <span class="form-content">Last Name</span>
        </label>
    </div>

    <div class="form">
        <input class="form-input" type="email" name="email" autocomplete="off" required>
        <label for="email" class="form-label">
            <span class="form-content">Email</span>
        </label>
    </div>

    <div class="form">
        <input class="form-input" type="password" name="password" autocomplete="off" required>
        <label for="password" class="form-label">
            <span class="form-content">Password</span>
        </label>
    </div>

    <div class="form">
        <input class="form-input" type="password" name="confirmPassword" autocomplete="off" required>
        <label for="confirmPassword" class="form-label">
            <span class="form-content">Confirm Password</span>
        </label>
    </div>

</body>

</html>